
h1{ 
    color: rgb(72, 0, 96);
    font-family: Arial Unicode MS;
    font-size: 30px; /*   dffg */

}
h2,h4{
    color: rgb(72, 0, 96);
    font-family: Arial Unicode MS;
    font-size: 15px;
}
h3,td{
        color: rgb(72, 0, 96);
        font-family: Arial Unicode MS;
        font-size: 20px;
}
p{
    color: rgba(87, 3, 87, 0.69);
    font-family: Arial Unicode MS;
    font-size: 20px;
}
.segundoparrafo{
        color: rgba(124, 4, 20, 0.69);
}
.barra{
    color:rgb(72, 0, 96);
    font-family:Arial Unicode MS;
    font-size: 20px;
}
footer i,b{
    color: rgb(72, 0, 96);
}  
ul{
    list-style:none;
}
label{
    color:rgb(72, 0, 96);
    font-family:Arial Unicode MS
}
